# Ignorar configurações de desenvolvimento
appsettings.Development.json

# Pastas e arquivos de build do .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
TestResults/
*.log

# Arquivos temporários e de sistema
*.swp
*.swn
*.bak
.DS_Store
Thumbs.db

# Rider/JetBrains
.idea/
*.iml
*.ipr
*.iws
*.sln.iml
rider.project.model.nuget.info
rider.project.restore.info
